examples/mosquitto-manager/basic-usage.json
[
    {
        "id": "example-tab",
        "type": "tab",
        "label": "Mosquitto Manager Examples",
        "disabled": false,
        "info": "# Mosquitto Manager Examples\n\nThis flow demonstrates various commands you can use with the mosquitto-manager node.\n\n## Setup\n\n1. Configure the mosquitto-config node with your broker details\n2. Deploy the flow\n3. Click the inject buttons to test commands"
    },
    {
        "id": "inject-list-clients",
        "type": "inject",
        "z": "example-tab",
        "name": "1. List Clients",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 100,
        "wires": [
            [
                "manager-list-clients"
            ]
        ]
    },
    {
        "id": "manager-list-clients",
        "type": "mosquitto-manager",
        "z": "example-tab",
        "name": "List Clients",
        "server": "mosquitto-config-1",
        "command": "listClients",
        "x": 360,
        "y": 100,
        "wires": [
            [
                "debug-output"
            ]
        ]
    },
    {
        "id": "inject-create-client",
        "type": "inject",
        "z": "example-tab",
        "name": "2. Create Client",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"testuser\",\"password\":\"testpass123\"}",
        "payloadType": "json",
        "x": 150,
        "y": 160,
        "wires": [
            [
                "manager-create-client"
            ]
        ]
    },
    {
        "id": "manager-create-client",
        "type": "mosquitto-manager",
        "z": "example-tab",
        "name": "Create Client",
        "server": "mosquitto-config-1",
        "command": "createClient",
        "x": 370,
        "y": 160,
        "wires": [
            [
                "debug-output"
            ]
        ]
    },
    {
        "id": "inject-delete-client",
        "type": "inject",
        "z": "example-tab",
        "name": "3. Delete Client",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"testuser\"}",
        "payloadType": "json",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "manager-delete-client"
            ]
        ]
    },
    {
        "id": "manager-delete-client",
        "type": "mosquitto-manager",
        "z": "example-tab",
        "name": "Delete Client",
        "server": "mosquitto-config-1",
        "command": "deleteClient",
        "x": 370,
        "y": 220,
        "wires": [
            [
                "debug-output"
            ]
        ]
    },
    {
        "id": "inject-set-password",
        "type": "inject",
        "z": "example-tab",
        "name": "4. Set Password",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"username\":\"testuser\",\"password\":\"newpass456\"}",
        "payloadType": "json",
        "x": 150,
        "y": 280,
        "wires": [
            [
                "manager-set-password"
            ]
        ]
    },
    {
        "id": "manager-set-password",
        "type": "mosquitto-manager",
        "z": "example-tab",
        "name": "Set Password",
        "server": "mosquitto-config-1",
        "command": "setClientPassword",
        "x": 370,
        "y": 280,
        "wires": [
            [
                "debug-output"
            ]
        ]
    },
    {
        "id": "inject-list-roles",
        "type": "inject",
        "z": "example-tab",
        "name": "5. List Roles",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{}",
        "payloadType": "json",
        "x": 140,
        "y": 340,
        "wires": [
            [
                "manager-list-roles"
            ]
        ]
    },
    {
        "id": "manager-list-roles",
        "type": "mosquitto-manager",
        "z": "example-tab",
        "name": "List Roles",
        "server": "mosquitto-config-1",
        "command": "listRoles",
        "x": 360,
        "y": 340,
        "wires": [
            [
                "debug-output"
            ]
        ]
    },
    {
        "id": "debug-output",
        "type": "debug",
        "z": "example-tab",
        "name": "Output",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 200,
        "wires": []
    },
    {
        "id": "mosquitto-config-1",
        "type": "mosquitto-config",
        "name": "Local Mosquitto",
        "broker": "localhost",
        "port": "1883"
    }
]